.checkboxListRecord {
    display: flex;
}

.checkboxListRecord input {
    margin-bottom: 12px;
    margin-right: 12px;
}

.checkboxListRecord label {
    flex: 1;
}

.checkboxListRecord p {
    flex: 1;
    margin: 0;
    padding: 0;
}